.container {
    background-color: var(--frame-color);
    margin-top: var(--section-margin);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 48em) {
    .container {
        gap: 2rem;
    }
}

