.btn {
    position: relative;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: var(--bg-color);
    border: none;
    border-radius: 2.5rem;
    text-transform: uppercase;
    font-family: var(--font-header);
    font-size: var(--fs3);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.0625em;
    transition: all 0.3s ease-in-out;
    /* overflow-x: hidden; */
}

.primary {
    background-color: var(--accent-color);
}

.primary::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: var(--secondary-color);
}

.primary:hover::before{
    left: 0;
}

.secondary {
    background-color: var(--secondary-color);
}

.secondary:hover{
    background-color: var(--primary-color);
}