.btn {
    position: relative;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: var(--bg-color);
    border: none;
    border-radius: 2.5rem;
    text-transform: uppercase;
    font-family: var(--font-header);
    font-size: var(--fs3);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.0625em;
    transition: background-color 0.3s ease-in-out;
    overflow-x: hidden;
}

.primary {
    background-color: var(--accent-color);
    z-index: 1;
}

.primary::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: var(--secondary-color);
    z-index: -1;
    transition: transform 0.6s ease-in-out;
}

.primary:hover{
    background-color: transparent;
}

.primary:hover::before{
    transform: translateX(0);
}

.secondary {
    background-color: var(--secondary-color);
    z-index: 1;
}

.secondary:hover{
    background-color: transparent;
}

.secondary::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: var(--primary-color);
    z-index: -1;
    transition: transform 0.6s ease-out;
}

.secondary:hover::before{
    transform: translateX(0);
}