.container {
    margin-top: var(--section-margin);
    display: grid;
    row-gap: 1.5rem;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.name {
    background: linear-gradient(90deg, #E9C46A 39.12%, #2A9D8F 61.62%);
    font-weight: 900;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.sName {
    background: linear-gradient(90deg, #E9C46A 46.82%, #2A9D8F 96.69%);
    font-weight: 900;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.social {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 15rem;
}

.socialIcons {
    width: 2.2rem;
    color: var(--accent-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.socialIcons:hover {
    transform: scale(1.1);
    color: var(--primary-color);
}

/* .imgContainer{
   /*  background-color: var(--bg-color);
    mix-blend-mode: luminosity;
}*/
.imgContainer {
    align-self: center;
    width: 100%;
}

@media screen and (min-width: 48em) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .heading {
        justify-content: flex-end;
        margin-bottom: 0;
    }
}