.container {
    margin-top: var(--section-margin);
    padding: 1rem 0;
    background-color: var(--frame-color);
    background-image: url(../../public/images/backgroundIMG.png);
    background-position: 0 0,0 0;
    background-size: auto,auto;
}

.skillsList {
    max-width: 77.5rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding-inline: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 0.5rem
}

.skillsIcons {
    transition: all 0.3s ease-in-out;
    color: var(--primary-color);
    width: 5rem;
    height: 5rem;
}

.skillsIcons:hover {
    transform: scale(1.1);
    color: var(--accent-color);
}

.nextIcon {
    justify-self: center;
    transition: all 0.3s ease-in-out;
    width: 6rem;
    height: 100%;
    color: var(--primary-color);
}

.nextIcon:hover {
    transform: scale(1.1);
    color: var(--accent-color);
}

@media screen and (min-width: 48em){
    .skillsList{
        padding-inline: 2.5rem;
        grid-template-columns: repeat(6,1fr);
    }
}


@media screen and (min-width: 77.5em){
    .skillsList{
        padding-inline: 0;
    }
}