 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Noto+Sans&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap');

 :root {
   --primary-color: #264653;
   --secondary-color: #2a9d8f;
   --accent-color: #e9c46a;
   --bg-color: #f4f1de;
   --text-color: #333333;
   --frame-color: #D8D4C0;

   --font-header: 'Roboto Condensed';
   --font-text: 'Noto Sans';
   --fs1: clamp(2.25rem, 5vw, 3.5rem);
   --fs2: clamp(1rem, 3vw, 2.25rem);
   --fs3: 1rem;
   --fs4: clamp(1.5rem, 4vw, 2.5rem);
   --font-text: 'Noto Sans';

   --section-margin: clamp(3rem, 10vw, 9.375rem)
 }


 * {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
 }

 html,
 body {
   overflow-x: hidden;
 }

 body {
   max-width: 77.5rem;
   margin: 1.5rem auto;
   padding-inline: 1.5rem;
   background-color: var(--bg-color);
 }

 h1 {
   font-family: var(--font-header);
   font-weight: 700;
   font-size: var(--fs1);
   color: var(--primary-color);
   line-height: 120%;
   letter-spacing: 0.1em;
 }

 h2 {
   font-family: var(--font-header);
   font-weight: 400;
   font-size: var(--fs2);
   color: var(--text-color);
   line-height: 120%;
   letter-spacing: 0.1em;
 }

 h3 {
   color: var(--primary-color);
   font-family: var(--font-header);
   font-size: var(--fs4);
   font-weight: 700;
   line-height: 150%;
   text-align: center;
   letter-spacing: 0.1em;
   text-transform: uppercase;
 }

 p {
   opacity: 0.7;
   font-family: var(--font-text);
   font-size: var(--fs3);
   color: var(--text-color);
   text-align: center;
 }

 a {
   color: var(--primary-color);
   text-decoration: none;
 }

 @media screen and (min-width: 48em){
  body{
    padding-inline: 2.5rem ;
  }
 }