@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 52 50% 91%;
    --foreground: 0 0% 20%;
    --card: 50 24% 80%;
    --card-foreground: 0 0% 20%;
    --popover: 52 50% 91%;
    --popover-foreground: 0 0% 20%;
    --primary: 197 37% 24%;
    --primary-foreground: 52 50% 91%;
    --secondary: 173 58% 39%;
    --secondary-foreground: 52 50% 91%;
    --muted: 50 24% 80%;
    --muted-foreground: 0 0% 40%;
    --accent: 43 74% 66%;
    --accent-foreground: 197 37% 24%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 37% 24%;
    --input: 50 24% 80%;
    --ring: 197 37% 24%;
    --radius: 0.5rem;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    overflow-x: hidden;
    scroll-behavior: smooth !important;
  }

  body {
    @apply bg-bg bg-texture text-content;
  }

  h1 {
    @apply font-header font-bold text-fs1 text-primary leading-tight tracking-widest;
  }

  h2 {
    @apply font-header font-normal text-fs2 text-content leading-tight tracking-widest;
  }

  h3 {
    @apply text-primary font-header text-fs4 font-bold leading-relaxed text-center tracking-widest uppercase;
  }

  h5 {
    @apply text-primary font-header text-fs5 font-bold leading-relaxed tracking-widest uppercase;
  }

  p {
    @apply font-body text-fs3 text-content text-center;
  }

  a,
  button {
    @apply relative font-header text-fs3 text-primary font-bold tracking-widest uppercase no-underline cursor-pointer;
  }

  input,
  textarea {
    @apply font-body text-primary text-[0.785rem] font-bold tracking-widest bg-transparent border-none outline-none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    border-radius: 0.5rem;
    -webkit-text-fill-color: hsl(197 37% 24%);
    -webkit-box-shadow: 0 0 0px 40rem transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer components {
  .nav-link {
    @apply relative;
  }

  .nav-link::after {
    position: absolute;
    content: "";
    top: 100%;
    right: 50%;
    width: 0;
    height: 3px;
    background-color: hsl(197 37% 24%);
    transition: all 0.3s ease-in-out;
  }

  .nav-link::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: hsl(197 37% 24%);
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover::after,
  .nav-link:hover::before {
    width: 50%;
  }
}
