.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleSkills {
    font-family: var(--font-text);
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    color: var(--primary-color);
    text-align: center;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}

.titleMadeWith{
    font-family: var(--font-text);
    font-weight: 700;
    font-size: 0.775rem;
    line-height: 150%;
    color: var(--primary-color);
    text-align: center;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}