.linksWrapper {
    display: none;
}

.navFooter {
    max-width: 31.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.navMenu{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
}

.linksWrapper>a::after,
.navFooter>a::after {
    position: absolute;
    content: '';
    top: 100%;
    right: 50%;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;

}

.linksWrapper>a::before,
.navFooter>a::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.linksWrapper>a:hover::after,
.navFooter>a:hover::after {
    width: 50%;
}

.linksWrapper>a:hover::before,
.navFooter>a:hover::before {
    width: 50%;
}

@media screen and (min-width: 48em) {
    .linksWrapper {
        max-width: 31.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
    }

}