.social {
    max-width: 31.25rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.socialIcons {
    width: 2.2rem;
    height: 2.2rem;
    color: var(--accent-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.socialIcons:hover {
    transform: scale(1.1);
    color: var(--primary-color);
}
