.container {
    display: grid;
    /*   grid-template-rows: 0.5fr,  1fr; */
    column-gap: 1rem;
}

.container img {
    width: 100%;
    height: auto;
    transform: translateY(2.5rem)
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content>h5 {
    text-align: center;
}

.content>p {
    margin: 0 auto;
    max-width: 100%;
}

.tech {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.madeWithIcon {
    transition: all 0.3s ease-in-out;
    color: var(--primary-color);
    width: 3.5rem;
}

.madeWithIcon:hover {
    transform: scale(1.1);
    color: var(--accent-color);
}

.redux {
    transition: all 0.3s ease-in-out;
    color: var(--primary-color);
    width: 3.5rem;
    height: 100%;
}

.redux:hover {
    transform: scale(1.1);
    color: var(--accent-color);
}

.cta {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

@media screen and (min-width: 48em) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .content {
        align-self: center;
    }

    .content.reverse {
        grid-column: 1;
        grid-row: 1;
        text-align: right;
    }

    .container.reverse>img {
        grid-column: 2;
    }

    .content.notReverse>p {
        text-align: left !important;
        margin-left: 0;
        max-width: 70%;
    }

    .content.reverse>p {
        text-align: right !important;
        margin-right: 0;
        max-width: 70%;
    }

    .content.reverse>h5 {
        text-align: right;
    }

    .content.notReverse>h5 {
        text-align: left;
    }

    .tech {
        justify-content: flex-start;
    }

    .tech.reverse {
        justify-content: flex-end;
    }

    .cta.reverse {
        justify-content: flex-end;
        margin-right: -1rem;
    }

    .cta.notReverse {
        justify-content: flex-start;
        margin-right: -1rem;
    }
}